<section data-id="" id="landing" class="min-100vh flex-center-center">
    <div class="inner flex-center-center">
        <div class="logo">
            <img src="../assets//images/Logo.png">
        </div>
        <div class="box flex-center-top">
            <h1>Coming Soon</h1>
            <div style="height: 20px;"></div>
            
            <div class="pre">
                <h3>Don’t wait for #thatfeeling</h3>
                <div style="height: 15px;"></div>
                <form>
                    <input type="text" placeholder="Email Address" />
                    <div style="height: 15px;"></div>
                    <input class="submit button" type="button" value="Get beta invite" />
                </form>
            </div>

            <div class="post">
                <h3>Thanks for applying for beta access. First wave of users will be invited in the next few days. Check
                    your inbox for further information.</h3>
                <div style="height: 15px;"></div>
                <div class="done">
                    <img src="../assets/images/Vector.png">
                    <span>Done</span>
                    </dvv>
                </div>
            </div>
        </div>
        <div class="character"></div>
</section>